{"openapi":"3.0.1","info":{"title":"花狮选课猫文档","description":"swagger.json","version":"v1.0.1"},"externalDocs":{"description":"swagger.json","url":""},"servers":[{"url":"https://api.xhpolaris.com/meowpick","description":"Generated server url"}],"tags":[{"name":"CommentApi","description":"评论接口"},{"name":"TeacherApi","description":"教师接口"},{"name":"ActionApi","description":"用户行为接口"},{"name":"CourseApi","description":"课程接口"},{"name":"SearchController","description":"搜索接口"},{"name":"UserApi","description":"用户接口"}],"paths":{"/api/user/add":{"post":{"tags":["UserApi"],"operationId":"add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCmd$CreateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserVO"}}}}}}},"/api/teacher/update":{"post":{"tags":["TeacherApi"],"summary":"更新","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherCmd$UpdateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeacherVO"}}}}}}},"/api/teacher/del/{id}":{"post":{"tags":["TeacherApi"],"summary":"删除","operationId":"del","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeacherVO"}}}}}}},"/api/teacher/batch":{"post":{"tags":["TeacherApi"],"operationId":"getBatch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeacherVO"}}}}}}}},"/api/teacher/add":{"post":{"tags":["TeacherApi"],"summary":"新增","operationId":"add_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeacherCmd$CreateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeacherVO"}}}}}}},"/api/search":{"post":{"tags":["SearchController"],"operationId":"search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchCmd$Query"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEntityObject"}}}}}}},"/api/search/recent/remove/{id}":{"post":{"tags":["SearchController"],"summary":"删除搜索历史","operationId":"removeRecent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/course/update":{"post":{"tags":["CourseApi"],"summary":"更新课程","operationId":"update_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCmd$UpdateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseVO"}}}}}}},"/api/course/list":{"post":{"tags":["CourseApi"],"operationId":"list","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Course"}}}}}}}},"/api/course/del/{id}":{"post":{"tags":["CourseApi"],"summary":"删除课程","operationId":"del_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseVO"}}}}}}},"/api/course/add":{"post":{"tags":["CourseApi"],"summary":"新增课程","operationId":"add_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCmd$CreateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseVO"}}}}}}},"/api/comment/update":{"post":{"tags":["CommentApi"],"summary":"更新评论","operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCmd$UpdateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentVO"}}}}}}},"/api/comment/reply/{id}":{"post":{"tags":["CommentApi"],"summary":"新增回复","operationId":"replyTo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyCmd$CreateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyVO"}}}}}}},"/api/comment/history":{"post":{"tags":["CommentApi"],"operationId":"history","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCmd$History"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEntityCommentVO"}}}}}}},"/api/comment/del/{id}":{"post":{"tags":["CommentApi"],"summary":"删除评论","operationId":"del_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentVO"}}}}}}},"/api/comment/add":{"post":{"tags":["CommentApi"],"summary":"新增评论","operationId":"add_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCmd$CreateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentVO"}}}}}}},"/api/action/like/{id}":{"post":{"tags":["ActionApi"],"summary":"点赞","operationId":"like","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionCmd$CreateCmd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/teacher/{id}":{"get":{"tags":["TeacherApi"],"summary":"获取详情","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeacherVO"}}}}}}},"/api/teacher/query":{"get":{"tags":["TeacherApi"],"summary":"分页查询","operationId":"query","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"regex","in":"query","required":false,"schema":{"type":"string"}},{"name":"startAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEntityTeacherVO"}}}}}}},"/api/search/total":{"get":{"tags":["SearchController"],"summary":"获取吐槽总数","operationId":"total","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/search/suggest":{"get":{"tags":["SearchController"],"summary":"搜索建议","operationId":"suggest","parameters":[{"name":"search","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageNum","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/api/search/recent":{"get":{"tags":["SearchController"],"summary":"最近搜过","operationId":"recent","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchHistoryVO"}}}}}}}},"/api/search/guess":{"get":{"tags":["SearchController"],"summary":"猜你想搜","operationId":"guess","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/course/{id}":{"get":{"tags":["CourseApi"],"summary":"获取详情","operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Course"}}}}}}},"/api/course/query":{"get":{"tags":["CourseApi"],"summary":"分页查询","operationId":"query_1","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","required":false,"schema":{"type":"string"}},{"name":"department","in":"query","required":false,"schema":{"type":"string"}},{"name":"point","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"teachers","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"campuses","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"regex","in":"query","required":false,"schema":{"type":"string"}},{"name":"startAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEntityCourseVO"}}}}}}},"/api/comment/{id}":{"get":{"tags":["CommentApi"],"summary":"获取详情","operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReplyVO"}}}}}}},"/api/comment/query":{"get":{"tags":["CommentApi"],"summary":"分页查询","operationId":"query_2","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"regex","in":"query","required":false,"schema":{"type":"string"}},{"name":"startAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEntityCommentVO"}}}}}}}},"components":{"schemas":{"UserCmd$CreateCmd":{"type":"object","properties":{"name":{"type":"string"},"avatar":{"type":"string"}}},"UserVO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"avatar":{"type":"string"},"enable":{"type":"boolean"},"lock":{"type":"boolean"},"expire":{"type":"boolean"},"credential":{"type":"boolean"}}},"TeacherCmd$UpdateCmd":{"type":"object","properties":{"id":{"type":"string"},"avatar":{"type":"string"},"name":{"type":"string"},"depart":{"type":"string"},"position":{"type":"string"}}},"CourseVO":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"category":{"type":"string"},"department":{"type":"string"},"link":{"type":"array","items":{"type":"array","items":{"type":"string"}}},"point":{"type":"integer","format":"int32"},"describe":{"type":"string"},"teachers":{"type":"array","items":{"type":"string"}},"teacherList":{"type":"array","items":{"$ref":"#/components/schemas/TeacherVO"}},"campuses":{"type":"array","items":{"type":"string"}},"tagCount":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}},"TeacherVO":{"type":"object","properties":{"id":{"type":"string"},"avatar":{"type":"string"},"name":{"type":"string"},"uid":{"type":"string"},"courses":{"type":"array","items":{"$ref":"#/components/schemas/CourseVO"}}}},"TeacherCmd$CreateCmd":{"type":"object","properties":{"avatar":{"type":"string"},"name":{"type":"string"},"depart":{"type":"string"},"position":{"type":"string"}}},"SearchCmd$Query":{"required":["keyword","type"],"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"regex":{"type":"string"},"startAt":{"type":"string","format":"date-time"},"endAt":{"type":"string","format":"date-time"},"keyword":{"type":"string"},"type":{"type":"string","enum":["course","teacher","depart","category"]}}},"PageEntityObject":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"rows":{"type":"array","items":{"type":"object"}}}},"CourseCmd$UpdateCmd":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"category":{"type":"string"},"department":{"type":"string"},"point":{"type":"integer","format":"int32"},"describe":{"type":"string"},"teachers":{"type":"array","items":{"type":"string"}},"campuses":{"type":"array","items":{"type":"string"}}}},"Course":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CourseVO"},"score":{"$ref":"#/components/schemas/Score"}}},"Score":{"type":"object","properties":{"avg":{"type":"number","format":"float"},"total":{"type":"integer","format":"int32"},"number":{"type":"number","format":"float"},"percent":{"type":"object","additionalProperties":{"type":"number","format":"float"}}}},"CourseCmd$CreateCmd":{"type":"object","properties":{"name":{"type":"string"},"category":{"type":"string"},"department":{"type":"string"},"point":{"type":"integer","format":"int32"},"describe":{"type":"string"},"teachers":{"type":"array","items":{"type":"string"}},"campuses":{"type":"array","items":{"type":"string"}}}},"CommentCmd$UpdateCmd":{"required":["id","target","text"],"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"target":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}}}},"Action":{"type":"object","properties":{"uid":{"type":"string"},"emoji":{"type":"string"},"crateAt":{"type":"string","format":"date-time"}}},"ActionVO":{"type":"object","properties":{"like":{"type":"boolean"},"like_cnt":{"type":"integer","format":"int32"},"share":{"type":"boolean"},"likes":{"type":"array","items":{"$ref":"#/components/schemas/Action"}}}},"CommentVO":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"uid":{"type":"string"},"replies":{"type":"array","items":{"$ref":"#/components/schemas/ReplyVO"}},"tags":{"type":"array","items":{"type":"string"}},"target":{"type":"string"},"reply":{"type":"integer","format":"int32"},"relation":{"$ref":"#/components/schemas/ActionVO"},"crateAt":{"type":"string","format":"date-time"},"user":{"$ref":"#/components/schemas/UserVO"},"course":{"$ref":"#/components/schemas/CourseVO"}}},"ReplyVO":{"type":"object","properties":{"id":{"type":"string"},"uid":{"type":"string"},"text":{"type":"string"},"crateAt":{"type":"string","format":"date-time"},"updateAt":{"type":"string","format":"date-time"}}},"ReplyCmd$CreateCmd":{"required":["text"],"type":"object","properties":{"text":{"type":"string"}}},"CommentCmd$History":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"regex":{"type":"string"},"startAt":{"type":"string","format":"date-time"},"endAt":{"type":"string","format":"date-time"},"uid":{"type":"string"},"model":{"type":"string"}}},"PageEntityCommentVO":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"rows":{"type":"array","items":{"$ref":"#/components/schemas/CommentVO"}}}},"CommentCmd$CreateCmd":{"required":["target","text"],"type":"object","properties":{"target":{"type":"string"},"text":{"type":"string"},"score":{"type":"integer","format":"int32"},"tags":{"type":"array","items":{"type":"string"}}}},"ActionCmd$CreateCmd":{"type":"object","properties":{"emoji":{"type":"string"}}},"PageEntityTeacherVO":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"rows":{"type":"array","items":{"$ref":"#/components/schemas/TeacherVO"}}}},"SearchHistoryVO":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"createAt":{"type":"string","format":"date-time"}}},"PageEntityCourseVO":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"rows":{"type":"array","items":{"$ref":"#/components/schemas/CourseVO"}}}}}}}